/* Primary stylesheet for the Guided Activities */
body {
    background-color: #1976d2;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
}
.header {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: Condiment;
    font-size: 1.4em;
    color: #212121;
    text-align: center;
}