/* Primary stylesheet for the Guided Activities */
body {
    background-color: #1976d2;
}
h1 {
    font-family: Condiment;
    font-weight: bold;
    font-size: 26px;
    color: #212121;
    text-align: center;
}
h2 {
    font-family: 'Merriweather Sans';
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.mainFooter a {
	text-decoration: none;
	color: #212121;
}
.center {
	text-align: center;
}
.navbar {
    list-style: none;
    text-decoration: none;
}
.navbar-brand {
    font-family: Condiment;
    font-size: 26px;
}
.navbar a {
    font-family: 'Red Hat Display';
    font-size: 22px;
    color: #212121;
}