/* Primary stylesheet for the Guided Activities */
body {
    background-color: #1976d2;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
}

h1 {
    font-family: Condiment;;
    font-size: 22px;
    color: #212121;
}