/* Primary styles for the final project */
body {
    background: #000000;
    height: 100%vh;
    margin-top: 100px;
}
@font-face {
    font-family: Viking_Hell;
    src: url(../fonts/Viking_Hell.ttf);
}
p {
    font-family: 'Red Hat Display';
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}
hr {
    background-color: #d50000;
    box-shadow: 0 3px 6px #241c1c;
    width: 30%;
}
.navbar a {
    font-family: 'Red Hat Display';
    font-size: 18px;
}
.center {
    text-align: center;
}
.navbar-dark .navbar-brand {
    color: #030303;
    font-size: 1.4em;
    font-weight: bold;
}
.navbar-dark .navbar-brand:hover {
    color: #241c1c;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #030303;
    font-size: 19px;
    text-shadow: 1px 1px 5px #241c1c;
}
.btn-primary {
    color: #c0c0c0;
    background: #000000;
    border-color: #000000;
    font-family: Viking_Hell;
    font-size: 2.6em;
    padding: 10px 20px 10px 20px;
}
.btn-primary:hover {
    background: #000000;
    border-color: #000000;
    color: #d50000;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.footer p {
    color: #c0c0c0;
    font-family: Exo;
    font-size: 16px;
}
.jumbotron {
    background: #ffffff;
    margin: 50px auto;
}
@media screen and (min-width: 1024px) {
    .navbar-dark {
        display: none;
    }
    .img-fluid {
        margin-top: 15px;
    }
    body {
        margin-top: 50px;
    }
}
@media screen and (max-width: 1023px) {
    .img-fluid {
        margin-top: 80px;
    }
}
@media screen and (min-width: 1440px) {
    body {
        margin-top: 80px;
    }
    .img-fluid {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}