/* Primary styles for the final project */
body {
    background: #ffffff;
    height: 100%vh;
}
@font-face {
    font-family: Viking_Hell;
    src: url(../fonts/Viking_Hell.ttf);
}
h1 {
    font-family: Viking_Hell;
    font-size: 2.5em;
    text-align: center;
    color: #d50000;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #212121, #d50000);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #212121, #d50000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#introduction {
    background: #ffffff;
    height: 100vh;
}
#brsrkBean {
    margin-top: 50px;
}
#infoCoffee {
    height: 100vh;
}
#brsrkBean h1 {
    font-family: Cambay;
    font-size: ;
    color: #d50000;
}
p {
    font-family: 'Red Hat Display';
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}
hr {
    background-color: #d50000;
    box-shadow: 0 3px 6px #241c1c;
    width: 30%;
}
.mainFooter a {
	text-decoration: none;
	color: #212121;
}
.navbar a {
    font-family: 'Red Hat Display';
    font-size: 18px;
}
.center {
    text-align: center;
}
.navbar-dark .navbar-brand {
    color: #030303;
    font-size: 1.4em;
    font-weight: bold;
}
.navbar-dark .navbar-brand:hover {
    color: #241c1c;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #030303;
    font-size: 19px;
    text-shadow: 1px 1px 5px #241c1c;
}
.btn {
    margin: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.footer p {
    color: #030303;
    font-family: Exo;
    font-size: 16px;
}
.jumbotron {
    background: #ffffff;
    margin: 50px auto;
}