/*
	WDD122 - Web Graphics Design
	Adrian Grimm
	Main CSS
	11/5/2019
*/
/* styles for my website*/
body {
	background-color: #1976d2;
}
#wrapper {
	text-align: center;
	font-size: 20px;
	background-color: none;
}
h1 {
	font-family: Condiment;
	font-size: 2.5em;
	color: #212121;
	text-align: center;
	padding-bottom: 0px;
	padding-top: 10px;
}
h2 {
	font-family: 'Red Hat Display';
	font-size: 24px;
	color: #212121;
	text-align: center;
}
a, a:visited {
	color:#ffffff;
	text-decoration: none;
}
a:visited {
	color:#ffffff;
	text-decoration: none;
}
a:hover {
	color: #4caf50;
	text-shadow: 3px 3px 6px #000;
	text-decoration: none;
}
p {
	font-family: 'Red Hat Display';
	color: #212121;
	font-size: 18px;
}
hr {
	background-color:#bdbdbd;
	box-shadow: 0 3px 6px #000;
	width: 50%;
}
#container {
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
}
#container h3 {
	font-family: 'Red Hat Display';
	font-size: 22px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#progressNav {
	text-align: center;
	padding: 10px;
	margin: 0;
}
h3 a {
	color: #ffffff;
	text-decoration: none;
}
#h3 a:hover {
	color: #4caf50;
	text-decoration: none;
}
#h3 a:visited {
	color: #ffffff;
	text-decoration: none;
}
#quoteContainer {
	text-align: center;
	width: 50%;
	padding: 1.5em;
	margin: 0 auto;
	margin-top: 5em;
	box-shadow: 0px 2px 6px #000;
}
#quoteContainer p {
	font-family: 'Red Hat Display';
	font-size: 20px;
}
#quoteContainer:hover {
	animation-name: fill-color;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}
@keyframes fill-color {
	100% {
		background-color: #bdbdbd;
	}
}
.mainFooter {
	font-family: 'Red Hat Display';
	font-size: 18px;
	text-align: center;
	position: relative;
	padding-top: 2.5em;
}
.mainFooter a {
	text-decoration: none;
	color: #212121;
}
.center {
	text-align: center;
}
li {
	text-align: center;
	text-decoration: none;
	list-style: none;
	font-family: 'Red Hat Display';
	font-size: 1.4em;
}
li a {
	color: #ffffff;
}
li a:hover {
	text-decoration: none;
	color: #4caf50;
	text-shadow: 0 1px 4px #000000;
}
.container .center {
	text-align: center;
}
.container {
	padding: 0px 0px;
}
/* Scroll to Top Button */
#topBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-family: 'Red Hat Display';
	font-size: 18px;
	font-weight: bold;
	border: none;
	outline: none;
	background-color: #bdbdbd;
	color: #212121;
	cursor: pointer;
	padding: 10px;
	border-radius: 6px;
	box-shadow: 0 1px 4px #2b2b2b;
}
#topBtn:hover {
	background-color: #1976d2;
	box-shadow: 0 2px 8px #000;
}