/* Primary stylesheet for the Guided Activities */
body {
    background-color: #f9faf8;
    font-size: 16px;
    font-family: 'Red Hat Display';
}
h1 {
    font-family: 'Red Hat Display';
    color: #01a9da;
    font-size: 2em;
    text-align: center;
}
h2 {
    font-family: 'Red Hat Display';
    font-size: 18px;
    color: #002c5f;
    text-align: center;
}
h2 a {
    font-family: 'red Hat Display';
    font-size: 18px;
    color: #002c5f;
    text-align: center;
}
h2 a:hover {
    text-decoration: none;
    color: #3fdb87;
    text-shadow: 1px 1px 2px #030303;
}
hr {
    background-color: #bdbdbd;
    box-shadow: 0 1px 3px #030303;
    width: 25%;
}
/* Navbar */
.navbar {
    list-style: none;
    text-decoration: none;
}
.navbar a {
    font-family: 'Red Hat Display';
    font-size: 18px;
    color: #1b1a1b;
}
.navbar-nav .open .dropdown-menu {
    font-family: 'Red Hat Display';
    font-size: 18px;
    color: #fff;
    border: none;
}
.center {
    text-align: center;
}
#topCont {
    margin-top: 20px;
    height: 75vh;
}
.navbar a {
    font-family: 'Red Hat Display';
    font-size: 18px;
}
.navbar-dark .navbar-brand {
    color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #70ce37;
    font-size: 19px;
    text-shadow: 1px 1px 5px #000000;
}
/* Form Controls */
#formSection {
    background-color: #01a9da;
    margin-top: 4em;
    margin-bottom: 4em;
    border-radius: 8px;
}
#formSection h2 {
    font-family: 'Red Hat Display';
    color: #1b1a1b;
    font-size: 22px;
    margin-top: 10px;
}
.btn {
    background-color: #70ce37;
    border: none;
    font-family: 'Red Hat Display';
    color: #1b1a1b;
}
#searchBtn {
    font-size: 1.1em;
}
.btn:hover {
    background-color: #70ce37;
    box-shadow: 0px 2px 8px #030303;
}
/* Footer */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#footer p a {
	text-decoration: none;
	color: #212121;
}
@media screen and (max-width: 1023px) {
    #footer {
        display: none;
    }
}